.btn {
  font-size: 16px;
  line-height: 20px;
  padding: 8px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  border-color: #00f;
  background-color: #015cda;
  color: #fff;
  cursor: pointer;
  background: rgb(9, 9, 121);
  background: linear-gradient(90deg, #234ad5 0%, #a7a8ac 100%);
}
.btn:hover {
  background-color: #36f;
  background: linear-gradient(-90deg, #234ad5 0%, #a7a8ac 100%);
}
